<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de contacto</title>
</head>
<body>
    <h1>Contactos</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Comentario</th>
                <th>Fecha</th>
                <th>IP</th>
                <th>País</th>
            </tr>
        </thead>
        <tbody>
            <% registros.forEach(function(registro) { %>

                <tr>
             
                 <td><%= registro.id %></td>
             
                 <td><%= registro.name %></td>
             
                 <td><%= registro.email %></td>
             
                 <td><%= registro.cell %></td>
             
                 <td><%= registro.comment %></td>
             
                 <td><%= registro.date %></td>
             
                 <td><%= registro.ip %></td>
             
                 <td><%= registro.country %></td>
             
                </tr>
             
                <% }); %>
        </tbody>
    </table>
</body>
</html>